/* @font-face {
  font-family: "light";
  src: url("@/assets/fonts/Outfit-Light.ttf");
}
@font-face {
  font-family: "semibold";
  src: url("@/assets/fonts/Outfit-SemiBold.ttf");
}
@font-face {
  font-family: "bold";
  src: url("@/assets/fonts/Outfit-Bold.ttf");
}
@font-face {
  font-family: "regular";
  src: url("@/assets/fonts/Outfit-Regular.ttf");
}
@font-face {
  font-family: "medium";
  src: url("@/assets/fonts/Outfit-Medium.ttf");
} */

.my-sticky-header-table {
    max-height: 86vh;
}
thead tr th {
    position: sticky;
    z-index: 1;
    font-size: 1.1rem !important;
}

.my-sticky-header-table thead tr:first-child th {
    top: 0;
}
.my-sticky-header-table .q-table__linear-progress {
    height: 4px;
}

.my-sticky-header-table .selected {
    background-color: $accent;
}
