/* @font-face {
  font-family: "light";
  src: url("@/assets/fonts/Outfit-Light.ttf");
}
@font-face {
  font-family: "semibold";
  src: url("@/assets/fonts/Outfit-SemiBold.ttf");
}
@font-face {
  font-family: "bold";
  src: url("@/assets/fonts/Outfit-Bold.ttf");
}
@font-face {
  font-family: "regular";
  src: url("@/assets/fonts/Outfit-Regular.ttf");
}
@font-face {
  font-family: "medium";
  src: url("@/assets/fonts/Outfit-Medium.ttf");
} */
