@import "sweetalert2/src/variables";
/* $swal2-icon-size: 3.5em; */
@import "sweetalert2/src/sweetalert2";

.swal2-title {
    color: #1976d2;
    font-size: 1.5em;
    //   font-family: theme("fontFamily.bold");
}

.swal2-html-container {
    color: #a1a8c3;
    font-size: 1.2em;
    //   font-family: theme("fontFamily.light");
}

.swal2-styled.swal2-confirm {
    background-color: #1976d2;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px #1976d2;
    //   font-family: theme("fontFamily.light");
}

.swal2-styled.swal2-cancel {
    background-color: red;
}

//LIGHT THEME
.toast_poup {
    background: #1976d2 !important;
}

.toast_text {
    color: white !important;
    font-size: 1rem !important;
}

.swal2-timer-progress-bar {
    background: white !important;
}

body.swal2-toast-shown .swal2-container.swal2-top-end,
body.swal2-toast-shown .swal2-container.swal2-top-right {
    height: auto !important;
}

.swal2-popup {
    width: 25em;
    border-radius: 5px !important;
}
