@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: theme("colors.mainbg");
}

 */
.border-1 {
    border-width: 1px;
}

@supports (-webkit-touch-callout: none) {
    .h-screen {
        height: -webkit-fill-available;
    }
}
